


@media(min-width: 1550px){
    .image9{
    width: auto;
    height: auto;
    padding: 5% 30% !important;
    margin-left: 54% !important ;
    } 
    .header{
    
    font-family: Gayathri;
    padding-left: 5%;
    margin-top: 5%;
    font-size: 60px !important;
    }
    .desc{
    padding-left: 5%;
    margin-top: 5%;
    font-family: Average Sans;
    text-align: justify;
    font-size: 35px !important;
    }
    .learn-btn{
    margin-left: 5%;
    margin-top: 10% !important;
    margin-bottom: 10%;
    background-image: linear-gradient(to right, #0e0869, #7a84f3);
    color: white;
    width: 260px !important;
    height: 60px !important;
    border-radius: 10px !important;
    font-size: 30px !important;
    border: none;
    }   
}
@media (max-width: 786px){
    .stu-teach{
    background-image: linear-gradient(to right, #0e0869, #7a84f3);
    color: white;
    padding: 5% 5% !important;
    width: auto !important;
    height: auto !important;
    border-radius: 0px;
    border: none;
    text-align: center;
    font-family: Gayathri;
    font-size: 25px;
    margin: 5% 20% !important;
    border-radius: 10px;
    }
    .submit-btn{
    background-image: linear-gradient(to right, #0e0869, #7a84f3);
    color: white !important;
    width: 158px;
    height: 54px;
    border-radius: 12px !important;
    font-size: 20px;
    border: none !important;
    margin-left: 20% !important;
    }
    .query-input{
    width: 55%;
    margin-left: 20% !important;
    }
    .nav-header li a {
    font-size: 16px !important ;
    height: 0px !important;
    color: black;
    border: none;
    }
    .col-md-8.col-sm-12.switch-to-desc > div >div > div{
        width: 97% !important;
        margin-bottom: 23px !important;
    }
    section.banner-section{
        margin-bottom: 100px !important;
    }
    .header{
    text-align: center;    
    font-family: Gayathri;
    padding-left: 5%;
    padding-top: 0%;
    font-size: 57px;
    }
    .desc{
    text-align: justify;
    margin: 5% auto;
    padding-top: 5%;
    font-family: Average Sans;
    font-size: 26px;
    }
    .image7{
        text-align: center !important;
        border-radius: 20px !important;
        width: 75% !important;
        margin: 10% !important;
        box-shadow: 10px 10px 5px #ccc;
    }
    .part-container{
        margin-top: -30% !important;
    }    
    .image8{
     text-align: center;
     padding-top: 40%;
    }
    .scnd_head{
        margin-top: 4%;
        text-align: center;
        font-family: Gayathri;
        font-size: 56px;
        display: inline;
    }
    .scnd_desc{
    font-family: Average Sans;
    font-size: 24px; 
    }
    .cards{
        height: auto;
        width: auto;
    margin-top: 5% !important;
    border-collapse: separate;
    }

    .image10{
        text-align: center !important;
        width: 80%;
        margin: auto;
    }
    .scnd-img-desc{
    text-align: center;
    font-family: Gayathri;
    font-size: 20px;
    padding-left: 0%;

    }
    .main-heading{
    height: auto;
    width: 10%;
    padding-left: 0%;
    padding-top: 2%;
    }
    .headline{
    width:15%;
    padding-left: 0%;
    padding-top: 2%;
    }
    .learn-btn{
    margin-left: 5%;
    margin-bottom: 10%;
    background-image: linear-gradient(to right, #0e0869, #7a84f3);
    color: white;
    width: 196px;
    height: 42px;
    border-radius: 10px;
    font-size: 20px; 
    border: none;
    }
}
.image1{
    width: 93%;
    height: auto;
    padding: 0% 0%;
    box-shadow: 6px 5px 20px 11px #f1eeee;
    margin-left: 0px;
    border-radius: 12px;
}
.first_page{
    width: 100%;
    height:1000px;
}
.main-heading{
    width: 20%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.headline{
    width:30%;
    padding-left: 0%;
    padding-top: 2%;
}
.bckgrnd{
    background-color: #412fa9;
    height: auto;
}
.last_page{
background-color: white;
    height: 500px;
}
.last_left{
    background-color: white;

}
.header{
    font-family: Gayathri;
    padding-left: 5%;
    padding-top: 0%;
    font-size: 57px;
}
.for-all{
    font-family: La Belle Aurore;
    color: #ff4700;
    font-size: 37px;
    text-align: center;
    margin-top: -7%;
    margin-left: 28%;
    transform: rotate(-19deg);
}
.desc{
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
    font-family: Average Sans;
    font-size: 26px;
}
.learn-btn{
    margin-left: 5%;
    background-image: linear-gradient(to right, #0e0869, #7a84f3);
    color: white;
    width: 196px;
    height: 42px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 4%;
    border: none;
}
.second_page{
    height: 500px;
}
.scnd_head{
    font-family: Gayathri;
    font-size: 46px;
    padding-top: 0%;
}
.scnd_desc{
    font-family: Average Sans;
    font-size: 24px;
    width: 70%;
}
.third_head{
    text-align: center;
    font-family: Gayathri;
    font-size: 46px;
    font-weight: 373px;
    padding-top: 47px;
}
.third_desc{
    text-align: center;
    font-family: Average Sans;
    font-size: 22px;
}
.forth_desc{
    text-align: center;
    font-family: Average Sans;
    font-size: 22px;
}
.row_change{
    background-color: white;
    height: 100%;
}
.cards{
    background-color: #d8cfd7 !important;
    height: auto;
    width: 80%;
    margin-top: -150px;
    border-collapse: separate;
    border-radius: 10%;
}
.join-card{
    height: auto;
    width: 55%;
    border-radius: 17px !important;
    margin: 11% 23%;
    border: none !important;
}
.forth_row_up{
background-color: white;
    height: auto;
    padding-top: 3%;
}
.forth_row_down{
    background-color: white;
height: 100%;
}
.forth_head{
    color: black;
    font-family: Gayathri;
    font-size: 46px;
    text-align: center;
}
.left{
    text-align: center;
    font-family: Gayathri;
    font-size: 52px;
}
.right{
    text-align: right;
    font-family: Gayathri;
    font-size: 52px;
}
.last_head{
    text-align: center;
    font-family: Gayathri;
    font-size: 46px;
    padding-top: 50px;
}
.email{

    font-family: Average Sans;
    font-size: 23px;
    margin-left: 0%;
}
.email_id{

    font-family: Gayathri;
    font-size: 20px;
    margin-left: 0%;
}
.mail{

    font-family: Average Sans;
    font-size: 23px;
    margin-left: 0%;
}
.mail_id{
    
    font-family: Gayathri;
    font-size: 20px;
    margin-left: 0%;
}
.phn{

    font-family:Average Sans;
    font-size: 23px;
    margin-left: 0%;
}
.phn_no{
    
    font-family: Gayathri;
    font-size: 20px;
    margin-left: 0%;
}
.image2{
    width: 100%;
    padding-top: 10%;
    box-shadow: 2px 7px 20px 16px #e7e7e7;
    border-radius: 10px;
    padding: 15px;
}
.image3{
    padding-left: 15px;
    padding-top: 13px;
}
.image4{
    height: auto;
    width: 55%;

padding-left: 40%;
    padding-top: 14px;
}
.icse{
font-family: Gayathri;
    font-size: 19px;
    padding-left: 56px;
    padding-top: 9px
}
.image5{
    height: auto;
    width: 84%;
padding-left: 15%;
    padding-top: 15px;
}
.wb{
font-family: Gayathri;
    font-size: 19px;
    padding-left: 56px;
    padding-top: 27px
}
.image6{
    height: auto;
    width: 71%;
    padding-left: 28%;
    padding-top: 13px;
    }
.board-name-footer{
    font-family: Gayathri;
    font-size: 23px;
    text-align: center;
    margin-top: 21px;
}
.down_arrow{
        margin-left: 0px;
    margin-top: 9px;
}
.btn{
    font-size: 3rem !important;
}
.image7{
    text-align: center !important;
    border-radius: 20px !important;
    width: 70%;
    height: auto;
    margin: 6% 15%;
    box-shadow: 10px 10px 5px #ccc;
}
.image8{
    text-align: center;
 width: 42%;
 margin-top: -75px;
 margin-left: 29%;
}
.image9{
    width: auto;
    height: auto;
    padding: 15% 48%;
}
.col-md-4.col-sm-12.cardboard-parent > .card {
    margin: 10px auto;
    margin-bottom: 10%;
    background: white !important;
}
.stu-teach{
    background-image: linear-gradient(to right, #0e0869, #7a84f3);
    color: white;
    padding: 2% 5%;
    width: 196px;
    height: 42px;
    border-radius: 0px;
    border: none;
    text-align: center;
    font-family: Gayathri;
    font-size: 25px;
    margin: 5% 20%;
    border-radius: 10px;
}
.image10{
    text-align: center;
    width: 80%
}
.scnd-img-desc{
    text-align: center;
    font-family: Gayathri;
    font-size: 17px;
    margin-top: 22px;
}
.contacts-page{
    background: white;
}
.switch-to{
    padding: 3%;
}
.row.switch-to > div {
    padding: 1%;
    transform: translate(0, 0%);
    margin: auto;
}

.row.switch-to {
    background: white;
    color: black;
    margin: 50px 0px;
}

.row.switch-to > div > p.scnd_head {
    padding-left: 4%;
    text-align: center;
}

.row.switch-to > div > p.scnd_desc {
    text-align: center;
    width: 100%;
    padding-bottom: 3%;
    font-size: 24px;
}
.switch-to-desc{
    text-align: center;
}
@media (max-width: 786px){

    .switch-to-desc{
        padding-top: 14% !important;
    }
}
.part-container{
    text-align: center;
    margin-top: -6% !important;
}
.footer {
text-align: center; 
  font-family: Gayathri;
    font-size: 15px;
}
.map{
    width: 100%;
    height: 100%;
    padding: 10%;

}
.nav-options{
    font-family: Gayathri;
    font-size: 20px;
}
/*
.part-container > div{
    text-align: center;
    width: 65%;
    margin: auto;
    margin-top: -24%;
} */


body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .nav-header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .nav-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .nav-header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .nav-header li a:hover,
  .nav-header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .nav-header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .nav-header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .nav-header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .nav-header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .nav-header .menu-icon .navicon:before,
  .nav-header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .nav-header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .nav-header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .nav-header .menu-btn {
    display: none;
  }
  
  .nav-header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .nav-header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .nav-header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .nav-header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .nav-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .nav-header li {
      float: left;
    }
    .nav-header li a {
      padding: 20px 30px;
    }
    .nav-header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .nav-header .menu-icon {
      display: none;
    }
}

body.container-fluid {
    padding: 0;
}
.nav-header li a {
    font-size: 21px;
    height: 73px;
    color: black;
    border: none;
}

.nav-header .menu-icon {
    transform: translate(0%, 14%);
}

section.banner-section {
    height: 64vh;
    margin-bottom: 76px;
}

.col-md-8.col-sm-12.switch-to-desc > div >div > div {
    box-shadow: 0px 6px 16px 7px #f3f3f3;
    margin: 10px;
    width: 30%;
    padding: 11px;
    border-radius: 13px;
}
.cards.cardboard.card {
    box-shadow: 6px 5px 20px 11px #f1eeee;
    background: white;
    border: none;
    border-radius: 12px;
}
.cards.cardboard.card > .card-footer {
    background: white;
}
.query-text{
    text-align: center;
    font-size: 20px;
    font-family: Average Sans;
    padding: 4% 0%;
}
.query-input{
    width: 55% !important;
}
.submit-btn{
    background-image: linear-gradient(to right, #0e0869, #7a84f3);
    color: white !important;
    width: 158px;
    height: 54px;
    border-radius: 12px !important;
    font-size: 20px;
    border: none !important;
}